/* 첫번째 챌린지 */
.box{
  border: 50px solid #bdc3c7;
  width: 200px;
  padding: 50px;
}

.green{
  border-color: #95a5a6;
  /* visibility:hidden; : Box 2 가 투명해짐. 하지만 그 공간은 차지함*/
  /* display: none;  Box 2 가 아예 사라짐. 공간도 차지하지 않음 */
} 

.blue{
  border-color: #34495e;
}

/* 두번째 챌린지 */
.challenge2 {
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  padding: 10%;
}

h1{
  color: #9b59b6;
}

p {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

p.sub-header{
  color: #2980b9 ;
} /* p 태그의 sub-header 스타일 */

p::first-letter{
  font-size: 200%;
  color: #2980b9;
}

h1::before{
  content: "Topic: ";
} /* h1 태그를 선택하고, 그 앞에 스타일을 적용, 가상 클래스 */ 

h1:first-child{
  text-align: center;
} /*  h1 태그가 부모 요소의 첫 번째 자식인 경우에 스타일을 적용, 가상 요소 */

